<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spring Boot SLF4j Logback</title>
		<!--link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/-->
	</head>
	<body>

		<h2>Spring Boot + SLF4j Logback example</h2>

		<ul>
			<li th:each="counterStr : ${modelList_1}" th:text = "${counterStr}">
			</li>
		</ul>

		<!-- 	https://stackoverflow.com/questions/15495538/tables-vs-ul-li -->

		<table>
			
			<!--th:block th:each="counterStr : ${modelList_1}">
				<tr>
					<td th:text = "${counterStr}"></td>
				</tr>
			</th:block-->
				 <!--tr>
					 <th>NAME</th>
				</tr-->
				<tr th:each="counterStr : ${modelList_1}">
					 <td th:text = "${counterStr}"></td>
				</tr>			
		</table>
	</body>
</html>