<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot SLF4j Logback</title>
<!--link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/-->
</head>
<body>

	<h2>Spring Boot + SLF4j Logback example</h2>

	<ul>
		<li th:each="counterStr : ${modelList_1}" th:text="${counterStr}">
		</li>
	</ul>

	<!-- 	https://stackoverflow.com/questions/15495538/tables-vs-ul-li -->

	<!--style>
		td {
			padding-right: 20px;
		}
	</style-->

	<style>
		td:nth-child(2) {
			padding-right: 20px;
		}
	</style>

	<table>

		<tr>
			<th>id</th>
			<th/>
			<th>name</th>
			<th>age</th>
			<th>Address list</th>
		</tr>
		<tr th:each="student : ${studentList_1}">

			<td th:text="${student.id}"></td>
			<td style="padding-right: 10px;">.</td>
			<td th:text="${student.name}"></td>
			<td th:text="${student.age}"></td>
			
			<td>
				<div th:each="address: ${student.addresslist}">
				
					<span th:text="${address.city}">city</span>
					<span th:text="${address.street}">street</span>
					<span th:text="${address.houseNumber}">house number</span>
					<span th:text="${address.homeNumber}">Home number</span>
				</div>
			</td>

		</tr>
	</table>
</body>
</html>